/* здесь используйте глобальные переменные */
$base-color-text: #444444;
$bg-basic-green: #68b738;
$additional-color: #ffffff;
$optional-color: #000000;
/* Дополнительный цвет текста каталога */
$ad-special_dark-grey: #222222;
$base-font-size-text: 14px;
$base-font-size-text-desctop: 16px;
$base-line-height: 18px;
$text-transform: uppercase;

