/* GLOBAL */
@import "./common/variables.scss";
@import "./common/mixins.scss";
@import "./common/fonts.scss";
@import "./common/global.scss";

/* BLOCKS */
@import "./blocks/page.scss";
@import "./blocks/page-text.scss";
@import "./blocks/page-title.scss";
@import "./blocks/page-subtitle.scss";
@import "./blocks/button.scss";
@import "./blocks/wrapper.scss";
@import "./blocks/main-header.scss";
@import "./blocks/logo-slogan.scss";
@import "./blocks/main-nav.scss";
@import "./blocks/site-list.scss";
@import "./blocks/promotion.scss";
@import "./blocks/dignities.scss";
@import "./blocks/advantages.scss";
@import "./blocks/example.scss";
@import "./blocks/slider.scss";
@import "./blocks/invitation.scss";
@import "./blocks/main-footer.scss";
@import "./blocks/main-logo.scss";
@import "./blocks/social.scss";
@import "./blocks/copyright.scss";
// Catalog
@import "./blocks/products.scss";
@import "./blocks/product-card.scss";
@import "./blocks/append-products.scss";
@import "./blocks/news.scss";
