.advantages {

}

.advantages__wrapper {

}

.advantages__title {
  font-family: $additional-font;
  font-size: 36px;
  line-height: 40px;
  color: $optional-color;
}

.advantages__list {

}

.advantages__item {

}

.advantages__item--useful {

}

.advantages__description {

}

.advantages__item--powder {

}

.advantages__item--meal {

}

.advantages__item--time {

}
