@use "../common/fonts.scss" as *;
@use "../common/variables.scss" as *;

.advantages {
  @media (min-width: $tablet-width) {
    padding-bottom: 53px;
    border-bottom: 1px solid #e6e6e6;
  }

  @media (min-width: $desktop-width) {
    border: none;
  }
}

.advantages__title {
  font-family: $additional-font;
  font-size: 36px;
  line-height: 40px;
  color: $optional-color;
  margin-bottom: 40px;
  margin-top: 10px;

  @media (min-width: $tablet-width) {
    margin: 0;
    margin-top: 45px;
    margin-bottom: 72px;
    font-size: 60px;
    line-height: 60px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 74px;
    margin-bottom: 71px;
  }
}

.advantages__list {
  list-style-type: none;
  width: 280px;
  padding: 0;

  @media (min-width: $tablet-width) {
    margin: 0;
    display: grid;
    grid-template-columns: repeat(2, 250px);
    gap: 135px 135px;
    width: 708px;
    counter-reset: number 0;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    column-gap: 79px;
  }
}

.advantages__item {
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  position: relative;

  &::before {
    content: "";
    display: block;
    background-color: $bg-basic-green;
    width: 60px;
    height: 60px;
  }

  &--useful::before {
    content: "";
    background-image: url("../../icons/stack.svg#leaf-icon");
    background-size: 30px 32px;
    background-repeat: no-repeat;
    background-position: center;

    @media (min-width: $tablet-width) {
      width: 80px;
      height: 80px;
    }
  }

  &--powder::before {
    content: "";
    background-image: url("../../icons/stack.svg#powder-icon");
    background-size: 26px 29px;
    background-repeat: no-repeat;
    background-position: center;

    @media (min-width: $tablet-width) {
      width: 80px;
      height: 80px;
    }
  }

  &--meal::before {
    content: "";
    background-image: url("../../icons/stack.svg#eat-icon");
    background-size: 25px 30px;
    background-repeat: no-repeat;
    background-position: center;

    @media (min-width: $tablet-width) {
      width: 80px;
      height: 80px;
    }

    @media (min-width: $desktop-width) {
      margin-left: 2px;
    }
  }

  &--time::before {
    content: "";
    background-image: url("../../icons/stack.svg#time-icon");
    background-size: 26px 31px;
    background-repeat: no-repeat;
    background-position: center;

    @media (min-width: $tablet-width) {
      width: 80px;
      height: 80px;
    }

    @media (min-width: $desktop-width) {
      margin-left: 4px;
    }
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
    display: block;
    counter-increment: number;

    &::after {
      content: counter(number);
      font-size: 280px;
      line-height: 280px;
      color: #f2f2f2;
      position: absolute;
      font-family: $additional-font;
      font-weight: $font-weight;
      z-index: -1;
      top: -42px;
      right: 0;
      display: block;
      width: 136px;
    }
  }

  @media (min-width: $desktop-width) {
    &::after {
      width: 128px;
    }
  }
}

.advantages__description {
  margin: 0;
  width: 200px;
  min-height: 54px;
  margin-left: 20px;
  margin-top: 4px;

  br {
    display: none;
  }

  @media (min-width: $tablet-width) {
    margin-left: 0;
    margin-top: 31px;
    font-size: 16px;
    line-height: 24px;
    width: 245px;

    br {
      display: block;
    }

    &--change {
      margin-top: 33px;
      margin-left: -2px;
    }

    &--another {
      margin-top: 29px;
    }
  }

  @media (min-width: $desktop-width) {
    br {
      display: block;
    }

    &--change {
      margin-top: 32px;
      margin-left: 0;
    }

    &--another {
      margin-top: 32px;
      margin-left: 1px;
    }
  }
}

.advantages__item--time {
  margin-bottom: 49px;
}

