@use "../common/fonts.scss" as *;
@use "../common/variables.scss" as *;

.append-products {
  @media (min-width: $tablet-width) {
    padding-bottom: 80px;
  }
}

.append-products__container {
  @media (min-width: $desktop-width) {
    display: flex;
  }
}

.append-products__wrapper {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
  }
}

.append-products__title {
  font-family: $additional-font;
  font-size: 24px;
  line-height: 24px;
  color: $optional-color;
  font-weight: $font-weight;
  margin-bottom: 49px;

  @media (min-width: $tablet-width) {
    padding-left: 50px;
  }
}

.append-products__list {
  list-style-type: none;

  @media (min-width: $tablet-width) {
    padding: 26px 38px 28px;
    outline: 1px solid #cdcdcd;
  }

  @media (min-width: $desktop-width) {
    width: 896px;
  }
}

.append-products__item {
  @media (min-width: $desktop-width) {
    display: flex;
  }
}

.append-products__subtitle {
  font-family: $additional-font;
  font-size: 16px;
  line-height: 16px;
  font-weight: $font-weight;
  color: $ad-special_dark-grey;
  text-transform: $text-transform;
  margin-bottom: 13px;
}

.append-products__volume {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 15px;
}

.append-products__text {
  line-height: 14px;
}

.append-products__surprise {
  background-color: $bg-basic-green;

  &--present {
    background-image: url("../../icons/stack.svg#present-icon");
    background-size: 78px 80px;
    background-repeat: no-repeat;
    background-position: center;
  }

  @media (min-width: $desktop-width) {
    width: 245px;
    height: 288px;
  }
}

.append-products__comment {
  font-size: 16px;
  line-height: 20px;
  color: $additional-color;
  padding-bottom: 44px;
  padding-top: 188px;
  width: 161px;
  min-height: 60px;
}
