@use "../common/fonts.scss" as *;
@use "../common/variables.scss" as *;

.append-products {
  //
}

.append-products__wrapper {
  //
}

.append-products__title {
  font-family: $additional-font;
  font-size: 24px;
  line-height: 24px;
  color: $optional-color;
  font-weight: $font-weight;
}

.append-products__list {
  //
}

.append-products__item {
  //
}

.append-products__subtitle {
  font-family: $additional-font;
  font-size: 16px;
  line-height: 16px;
  font-weight: $font-weight;
  color: $ad-special_dark-grey;
}

.append-products__volume {
  //
}

.append-products__text {
  line-height: 14px;
}

.append-products__link {
  //
}

.append-products__surprise {
  background-color: $bg-basic-green;
  width: 280px;

  &--present {
    background-image: url("../../icons/stack.svg#present-icon");
    background-size: 78px 80px;
    background-repeat: no-repeat;
    background-position: center;
  }
}

.append-products__comment {
  font-size: 16px;
  line-height: 20px;
  color: $additional-color;
  padding-bottom: 44px;
  padding-top: 188px;
}
