@use "../common/fonts.scss" as *;
@use "../common/variables.scss" as *;

.copyright {
  //
}

.copyright__link {
  position: relative;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  display: block;
  color: #444444;

  &:active {
    opacity: 0.6;
  }

  &:hover::before {
    background-color: $bg-basic-green;
  }

  &:active::before {
    background-color: $bg-basic-green;
  }
}

.copyright__logo {
  width: 27px;
  height: 34px;
  fill: $bg-basic-green;
}
