.dignities {

}

.dignities__wrapper {

}

.dignities__list {

}

.dignities__item {

}

.dignities__item--loss {

}

.dignities__title {
  font-family: $additional-font;
  font-size: 24px;
  line-height: 37px;
  text-transform: $text-transform;
  color: $optional-color;
  font-weight: $font-weight;
}

.dignities__description {

}


.dignities__link {
  font-family: $additional-font;
  font-size: 16px;
  line-height: 16px;
  text-transform: $text-transform;
  color: $optional-color;
}

.dignities__link--arrow {

}

.dignities__item--fat {

}
