.example {

}

.example__wrapper {

}

.example__title {
  font-family: $additional-font;
  font-size: 36px;
  line-height: 40px;
  color: $optional-color;
  font-weight: $font-weight;
}

.example__description {

}

.example__checklist {

}

.example__checklist--wrapper {

}

.example__list {

}

.example__stats {

}

.example__subtitle {
  font-family: $additional-font;
  font-size: 24px;
  line-height: 24px;
  text-transform: $text-transform;
  color: $optional-color;
}

.example__signature {
  font-size: 12px;
  line-height: 100%;
}

.example__text {
  font-family: $additional-font;
  line-height: 20px;
  text-transform: $text-transform;
  color: $optional-color;
}

.example__toggles {

}
