@use "../common/fonts.scss" as *;
@use "../common/variables.scss" as *;

.example {
  background-color: #eaeaea;
  padding-top: 25px;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    background-image: linear-gradient(#ffffff 72%, #eaeaea 50%);
  }
}

.example__wrapper {
  @media (min-width: $desktop-width) {
    display: flex;
  }
}

.example__title {
  font-family: $additional-font;
  font-size: 36px;
  line-height: 40px;
  color: $optional-color;
  font-weight: $font-weight;
  margin-bottom: 40px;
}

.example__description {
  margin-bottom: 20px;
}

.example__checklist {

}

.example__checklist--wrapper {

}

.example__list {
  list-style-type: none;
  display: flex;
}

.example__stats {
  width: 124px;
  min-height: 70px;
}

.example__subtitle {
  font-family: $additional-font;
  font-size: 24px;
  line-height: 24px;
  text-transform: $text-transform;
  color: $optional-color;
}

.example__signature {
  font-size: 12px;
  line-height: 100%;
}

.example__text {
  font-family: $additional-font;
  line-height: 20px;
  text-transform: $text-transform;
  color: $optional-color;
  margin-bottom: 20px;
}

.example__toggles {

}
