.invitation {

}

.invitation__wrapper {

}

.invitation__description {
  font-family: $additional-font;
  font-size: 16px;
  line-height: 20px;
  text-transform: $text-transform;
  color: #111111;
}

.invitation__adress {
  line-height: 20px;
}
