@use "../common/fonts.scss" as *;
@use "../common/variables.scss" as *;

.main-footer {

}

.main-footer__wrapper {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
  }
}

.main-footer__logo {
  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.5;
  }
}

.main-footer__social {
  display: flex;
}

.main-footer__copyright {

}

.main-footer__location {
  width: 100%;
  height: 362px;
  object-fit: cover;

  @media (min-width: $tablet-width) {
    height: 400px;
  }
}
