@use "../common/fonts.scss" as *;
@use "../common/variables.scss" as *;

.main-footer {
  background-color: #f2f2f2;
}

.main-footer__wrapper {
  padding-top: 40px;
  padding-bottom: 40px;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    padding-top: 55px;
    padding-bottom: 55px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 66px;
    padding-bottom: 66px;
  }
}

.main-footer__logo {
  display: block;
  text-align: center;
  border-bottom: 1px solid #d9d9d9;
  padding-bottom: 15px;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.5;
  }

  @media (min-width: $tablet-width) {
    border: none;
    padding: 0;
    padding-top: 7px;
    padding-left: 2px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 2px;
    padding-left: 0;
  }
}

.main-footer__social {
  display: flex;
  border-bottom: 1px solid #d9d9d9;
  justify-content: center;
  flex-wrap: wrap;
  flex-shrink: 0;
  margin-bottom: 19px;

  @media (min-width: $tablet-width) {
    border: none;
    margin: 0;
  }
}

.main-footer__location {
  width: 100%;
  height: 362px;
  object-fit: cover;

  @media (min-width: $tablet-width) {
    height: 400px;
  }
}

.main-footer__map {
  display: grid;
  grid-template-rows: 1 auto;
}

.main-footer__map iframe {
  width: 100%;
  border: none;
  display: block;
  height: 362px;
  z-index: 1;

  @media (min-width: $tablet-width) {
    height: 400px;
  }
}

