@use "../common/fonts.scss" as *;
@use "../common/variables.scss" as *;

.main-nav {
  min-height: 65px;
}

.main-nav__user {
  padding-top: 13px;
  padding-bottom: 14px;
}

.main-nav__toggle {
  background-color: #ffffff;
  background-image: url("../../icons/stack.svg#burger-button");
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
  border: none;
  margin-left: 58px;

  &--close {
    background-image: url("../../icons/stack.svg#close-button");
  }

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.main-nav__wrapper {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    width: 704px;
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
  }
}

.main-nav__list {

}
