@use "../common/fonts.scss" as *;
@use "../common/variables.scss" as *;

.page__body {
  font-family: $primary-font;
  color: $base-color-text;
  font-size: $base-font-size-text;
  line-height: $base-line-height;
  font-weight: $font-weight;
  margin: 0;
}

.page__header {
  margin: 0;
  font-family: $additional-font;
  font-weight: $font-weight;
  font-size: 36px;
  line-height: 36px;
  color: $optional-color;
  margin-top: 27px;
  border-bottom: 1px solid #ebebeb;
  padding-bottom: 41px;
  margin-left: -20px;
  margin-right: -20px;
  padding-left: 20px;
  padding-right: 20px;

  @media (min-width: $tablet-width) {
    margin-bottom: 100px;
    font-size: 60px;
    line-height: 60px;
    border: none;
  }
}
