.promotion {
  background-color: $bg-basic-green;
}

.promotion__wrapper {

}

.promotion__header {

}

.promotion__title {
  font-family: $additional-font;
  font-size: 36px;
  line-height: 36px;
  color: $additional-color;
}

.promotion__intro {
  font-family: $additional-font;
  line-height: 14px;
  color: $additional-color;
  text-transform: $text-transform;
}

.promotion__intro--succeed {

}

.promotion__image {

}

.promotion__link {

}

.promotion__link--succeed {

}
