.site-list {
  list-style-type: none;
  font-family: $additional-font;
  line-height: 20px;
  font-size: 20px;
  text-transform: $text-transform;
}

.site-list__item {

}

.site-list__item--active {

}
