@use "../common/fonts.scss" as *;
@use "../common/variables.scss" as *;

.site-list {
  list-style-type: none;
  font-family: $additional-font;
  line-height: 20px;
  font-size: 20px;
  text-transform: $text-transform;
  display: block;
  padding: 0;

  @media (min-width: $tablet-width) {
    font-size: 18px;
    line-height: 24px;
    width: 436px;
  }

  @media (min-width: $desktop-width) {
    width: 475px;
  }
}

.site-list__item {
  margin: 0;
  display: block;
  padding-top: 22px;
  padding-bottom: 22px;
  border-top: 1px solid #e6e6e6;
  text-align: center;
}

.site-list__item a {
  text-decoration: none;
  color: $optional-color;
}

.site-list__item--active {
  //
}
